*{
    margin:0;
    padding:0;
    font-family:"Montserrat", sans-serif ;
    
}
html{
    scroll-behavior:smooth;
}
body{
    background-image: url(whitbg.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;

}
html,body{
    margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.insert1{
 display: block;       
  width: 100px ;          
  height: auto;            
  position: absolute;
  bottom:170px;
  left:65% ;
  z-index:5;   
}
.insert2{
 display: block;       
  width: 450px ;          
  height: auto;            
  position: absolute;
  bottom:95px;
  left:69% ;
  z-index:5;   
}
.header{
   
    width:100%;
    
    background-position: center;
    background-size: auto;
    position: relative;
    background-attachment: scroll;
}

.independent1{
 position: relative;
 top:535px !important;
 left:65% !important;
 color:#404143;
 z-index: 1000;   
 font-size: 20px !important;
 }
 .independent2{
 position: relative;
 top:510px !important;
 left:82.5% !important;
 color:#404143;
 z-index: 1000;   
 font-size: 20px !important;
 }
 

nav{
    display:flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10000;
}

nav img{
    width:150px;
}

.nav-links{
flex:1;
text-align: right;
}

.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color:#404143;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content:'' ;
     width:0%;
     height: 2px;
     background: #404143;
     display: block;
     margin:auto;
     transition:0.5s;
}
.nav-links ul li:hover::after{
    width:100%;

}
.text-box{
    width:90%;
    color:#404143;
    position:absolute;
    top:320%;
    left:10%;
    transform: translate(0,-50%);
    text-align:left;
}

.text-box h1{
    font-size: 50px;
}

.text-box p{
   margin:10px 0 40px; 
   font-size:22px ;
   color:#404143;
}
.second{
    width:90%;
    color:#fff;
    position:absolute;
    top:145%;
    left:5%;
    transform: translate(0,-50%);
    text-align:left;
    margin:10px 0 40px; 
    font-size:30px ;
   
}
nav .fa{
    display: none;
}
@media (max-width:700px){
    .text-box h1{
    font-size: 20px;
}
.nav-links ul li{
    display:block;
}
.nav-links{
    position: absolute;
    background:#8ab5d1; 
    height: 100vh;
    width:200px;
    top:0;
    right:-200px;
    text-align: left;
    z-index: 2;
    transition:1s;

}
nav .fa{
    display:block;
    color:#fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
}
.nav-links ul{
    padding: 30px;
}

}
.fa-xmark{
    display:none;
}

.box1{
     width: 180px;
  height: 200px;
    position:relative;
    top:60%;
    left:60%;
    border-radius:20px;
    background-color:#404143;
    z-index: 10;
    transition:0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    
}

.box1:hover {
    background-color:#8ab5d1;
}



#box1:target{
    background-color:#8ab5d1;
  box-shadow:0 0 20px 5px #404143; 
    animation: flash 3s ease forwards;
}
.box2{
     width: 180px;
  height: 200px;
    position:relative;
    top:60%;
    left:77%;
    border-radius:20px;
    background-color:#404143;
    z-index: 10;
    transition:0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    
}

.box2:hover {
    background-color:#8ab5d1;
}



#box2:target{
    background-color:#8ab5d1;
  box-shadow:0 0 20px 5px #404143; 
    animation: flash 3s ease forwards;
}
.menu-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  padding: 60px 20px;}
.box1{
  
  border-radius: 20px;
  background-color: #404143;
  transition: 0.2s;
  position: absolute;
  scroll-margin-top: 120px;
  z-index: 999;
  pointer-events: auto;
  
}
.box2{
  
  border-radius: 20px;
  background-color: #404143;
  transition: 0.2s;
  position: absolute;
  scroll-margin-top: 120px;
  z-index: 999;
  pointer-events: auto;
  
}
@keyframes flash {
  0%   { background-color: #8ab5d1; box-shadow: 0 0 20px 5px #b3b3b3; }
  100% { background-color: #404143; box-shadow: 0 0 10px rgba(0,0,0,0.3); }
}

.independent-image {
  display: block;       
  width: 1500px;          
  height: auto;          
  margin: 50px auto 0;   
  position: absolute;
  bottom:-5%;
  left:-1%;
  z-index:5;
  
}




@media screen and (max-width:680px){
    .box1  {
        top:140%;
        width: 30%;
        height:50%;
        
    }
    .box1{
        left:2.5%;
    }
   
    .box1{
    width:280px;
    height:200px;
    position:relative;
    top:140%;
    left:37%;
    border-radius:20px;
    background-color:#404143;
    z-index: 10;
    transition:0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    
}


    .text-box{
    width:90%;
    color:#fff;
    position:absolute;
    top:25%;
    left:10%;
    transform: translate(0,-50%);
    text-align:left;
}

.text-box h1{
    font-size: 30px;
}

.text-box p{
   margin:10px 0 40px; 
   font-size:15px ;
   color:#fff;
}
    .independent-image {
  display: block;       
           
           
  margin: 50px auto 0;   
  position: absolute;
  top:30px;
  left:2%;
  z-index:5;
  background-repeat: no-repeat;
  
}
.fa-xmark {
  color: white;  
  font-size: 30px; 
  top: 25px;
  position: relative;
  left:20px;
}

@media screen and (max-width:680px) {
    .insert1{
 display: block;       
  width: 100px ;          
  height: auto;            
  position: absolute;
  top:1000px !important;
  left:65% !important;
  z-index:5;   
}
.insert2{
 display: block;       
  width: 450px ;          
  height: auto;            
  position: absolute;
  top:65% !important;
  left:69% ! important;
  z-index:5;   
}
.independent1{
 position: relative;
 top:53px !important;
 left:65% !important;
 color:#404143;
 z-index: 1000;   
 font-size: 20px !important;
 }
 .independent2{
 position: relative;
 top:510px !important;
 left:82.5% !important;
 color:#404143;
 z-index: 1000;   
 font-size: 20px !important;
 }
}
 

 
}
@media (min-width:701px) {
  .nav-links .fa-xmark {
    display: none;
  }

}



a{
    text-decoration: none;
}
